.flex-container .page-title {
  font-size: 1.25rem;
  margin: 0;
  line-height: 75px;
  color: #323a46;
}
.flex-container {
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
